# dependencies
/frontend/node_modules
/frontend/.pnp
frontend/.pnp.js
/frontend/semantic

# testing
/frontend/coverage

# production
/build
/bin/build
/bin/dist
src-tauri/dist
src-tauri/build
src-tauri/bin/build
src-tauri/bin/dist
src-tauri/bin/*.exe


# testing db
database
data
debug
src-tauri/bin/database
src-tauri/bin/data
src-tauri/bin/debug
*.xlsx
*.csv

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/out/
node_modules
src-tauri/bin/__pycache__
