# dependencies
/frontend/node_modules
/frontend/.pnp
frontend/.pnp.js
/frontend/semantic

# testing
/frontend/coverage

# production
/frontend/build

# testing db
database/*
data/*
debug/*
*.xlsx
*.csv

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

frontend/out/
node_modules
